/* Universal style */

html {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

header h1 {
    color: white;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-image: url('./images/NYC-night-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    height: 300px;
    padding: 40px;
    box-sizing: border-box;
}

.banner_two {
    display: flex;
}

.side_links {
    display: flex;
    justify-content: flex-start;
    border-right: 4px solid #4DE3FF;
    border-bottom: 4px solid #4DE3FF;
}

.side_links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    list-style-type: none;
    background-color: #6C83E4;
    padding: 0;
    margin: 0;
}

.side_links ul li {
    padding: 10px;
    border-bottom: 2px solid #4DE3FF;
}

.side_links ul li a {
    text-decoration: none;
    color: #9CFFDB;
}

.about_me {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
    align-items: center;
    background-color: #6C83E4;
}

.about_me h2 {
    color: #9CFFDB;
}

.about_me p {
    text-align: center;
    margin: 1rem 6.25rem;
    padding: 10px 0;
    color: #9CFFDB;
    border-top: 1px solid #4DE3FF;
    border-bottom: 1px solid #4DE3FF;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6C83E4;
}

.projects h2 {
    color: #9CFFDB;
}

.projects ul {
    list-style-type: none;
}

.projects ul li a {
    text-decoration: none;
    color: #9CFFDB;
}

.skills img {
    max-width: 100%;
    height: auto;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}