/* Universal style */

html {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

header h1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.banner_two {
    display: flex;
}

.side_links {
    display: flex;
    justify-content: flex-start;
}

.about_me {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
    align-items: center;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills img {
    max-width: 100%;
    height: auto;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}